* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #BACD92;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    position: relative;
}

img {
    width: 200px;
}

h1, p, input {
    margin: 10px;
    text-align: center;
}

.dict-info input {
    padding: 15px 20px;
    width: 400px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    position: relative;
}

::placeholder {
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.definition {
    position: absolute;
    padding: 10px 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: fit-content;
    background-color: #fff;
    align-content: center;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0,3);
    visibility: hidden;
}

.definition #close {
    text-align: right;
}

.definition #close:hover {
    color: rgb(232, 13, 13);
    cursor: pointer;
}

.definition .text-def {
    margin: 10px;
    text-align: center;
}

#search {
    position: absolute;
    padding: 10px 10px;
    margin-left: -50px;
    margin-top: 18px;
    border: none;
    border-radius: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #DD5746;
    color: #fff;
    cursor: pointer;
}

.bookmark {
    margin: 30px;
}

#mark {
    padding: 10px 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #DD5746;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

#newbutton {
    padding: 5px 5px;
    margin: 10px auto;
    display: block;
    background-color: #DD5746;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    
}

.saved {
    padding: 5px 5px;
    margin: -120px auto;
    margin-bottom: 10px;
    width: 300px;
    height: fit-content;
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    visibility: hidden;
}

.saved div {
    margin: 2px;
    line-height: 2;
}

/* Media queries */
@media only screen and (max-device-width: 480px) {
    .container {
        margin-top: -100px;
        
    }
    
    .dict-info input {
        width: 350px;
    }

    .definition {
        width: 90%;
    }

    .saved {
        margin-top: -150px;
    }
}